<section class="modal-menu">
  <div class="container modal-container">
    <div class="wrap-top">
      <address class="modal-phone">
        <a href="tel:+380684439426" class="modal-number-phone"
          >+380 (68) 443-94-26</a
        >
      </address>
      <button type="button" class="close-menu-btn">
        <svg
          class="icon-menu-close"
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M27 9L9 27"
            stroke="#1C2225"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M9 9L27 27"
            stroke="#1C2225"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
    <div class="modal-wrap-nav">
      <ul class="modal-list">
        <li class="modal-link"><a href=""></a>About us</li>
        <li class="modal-link"><a href=""></a>Our collection</li>
        <li class="modal-link"><a href=""></a>Customer order</li>
        <li class="modal-link"><a href=""></a>Testimonials</li>
      </ul>
    </div>
  </div>
</section>
