<section id="our-collection" class="our-collection">
  <div class="collection-wrap container">
    <h2 class="collection-title">Our collection</h2>
    <div class="swiper collection-swiper">
      <div class="swiper-wrapper collection-list">
        <div class="swiper-slide">
          <img
            alt="Women's blouse"
            src="./img/images/poltava-women-blouse1x.jpg"
            srcset="
              ./img/images/poltava-women-blouse1x.jpg 1x,
              ./img/images/poltava-women-blouse2x.jpg 2x
            "
            class="img-collection"
          />
          <h4 class="card-item">August Poltava women's blousering</h4>
          <p class="price-item">3300 UAH</p>
        </div>
        <div class="swiper-slide">
          <img
            alt="Women's blouse"
            src="./img/images/blouse-gorgany1x.jpg"
            srcset="
              ./img/images/blouse-gorgany1x.jpg 1x,
              ./img/images/blouse-gorgany2x.jpg 2x
            "
            class="img-collection"
          />
          <h4 class="card-item">Women's blouse Gorgany</h4>
          <p class="price-item">3350 UAH</p>
        </div>
        <div class="swiper-slide">
          <img
            alt="Women's blouse"
            src="./img/images/blouse-crimea1x.jpg"
            srcset="
              ./img/images/blouse-crimea1x.jpg 1x,
              ./img/images/blouse-crimea2x.jpg 2x
            "
            class="img-collection"
          />
          <h4 class="card-item">Women's blouse Crimea</h4>
          <p class="price-item">4000 UAH</p>
        </div>
        <div class="swiper-slide">
          <img
            alt="Men's t-shirt"
            src="./img/images/men-t-shirt-verkhovina1x.jpg"
            srcset="
              ./img/images/men-t-shirt-verkhovina1x.jpg 1x,
              ./img/images/men-t-shirt-verkhovina2x.jpg 2x
            "
            class="img-collection"
          />
          <h4 class="card-item">Men's shirt Verkhovina</h4>
          <p class="price-item">3100 UAH</p>
        </div>
        <div class="swiper-slide">
          <img
            alt="Men's t-shirt"
            src="./img/images/mountain-men-shirt1x.jpg"
            srcset="
              ./img/images/mountain-men-shirt1x.jpg 1x,
              ./img/images/mountain-men-shirt2x.jpg 2x
            "
            class="img-collection"
          />
          <h4 class="card-item">Mountain men's shirt</h4>
          <p class="price-item">3300 UAH</p>
        </div>
        <div class="swiper-slide">
          <img
            alt="Men's t-shirt"
            src="./img/images/men-shirt-yasen1x.jpg"
            srcset="
              ./img/images/men-shirt-yasen1x.jpg 1x,
              ./img/images/men-shirt-yasen2x.jpg 2x
            "
            class="img-collection"
          />
          <h4 class="card-item">Men's shirt Yasen</h4>
          <p class="price-item">1700 UAH</p>
        </div>
        <div class="swiper-slide">
          <img
            alt="Women's blouse"
            src="./img/images/august-poltava-blouse1x.jpg"
            srcset="
              ./img/images/august-poltava-blouse1x.jpg 1x,
              ./img/images/august-poltava-blouse2x.jpg 2x
            "
            class="img-collection"
          />
          <h4 class="card-item">August Poltava women's blousering</h4>
          <p class="price-item">3300 UAH</p>
        </div>
        <div class="swiper-slide">
          <img
            alt="Women's blouse"
            src="./img/images/women-blouse-organy1x.jpg"
            srcset="
              ./img/images/women-blouse-organy1x.jpg 1x,
              ./img/images/women-blouse-organy2x.jpg 2x
            "
            class="img-collection"
          />
          <h4 class="card-item">Women's blouse Gorgany</h4>
          <p class="price-item">3350 UAH</p>
        </div>
        <div class="swiper-slide">
          <img
            alt="Women's blouse"
            src="./img/images/women-blouse-crimea1x.jpg"
            srcset="
              ./img/images/women-blouse-crimea1x.jpg 1x,
              ./img/images/women-blouse-crimea2x.jpg 2x
            "
            class="img-collection"
          />
          <h4 class="card-item">Women's blouse Crimea</h4>
          <p class="price-item">4000 UAH</p>
        </div>
        <div class="swiper-slide">
          <img
            alt="Men's t-shirt"
            src="./img/images/men-shirt-verkhovina-red1x.jpg"
            srcset="
              ./img/images/men-shirt-verkhovina-red1x.jpg 1x,
              ./img/images/men-shirt-verkhovina-red2x.jpg 2x
            "
            class="img-collection"
          />
          <h4 class="card-item">Men's shirt Verkhovina</h4>
          <p class="price-item">3100 UAH</p>
        </div>
        <div class="swiper-slide">
          <img
            alt="Men's t-shirt"
            src="./img/images/mountain-men-shirt-green1x.jpg"
            srcset="
              ./img/images/mountain-men-shirt-green1x.jpg 1x,
              ./img/images/mountain-men-shirt-green2x.jpg 2x
            "
            class="img-collection"
          />
          <h4 class="card-item">Mountain men's shirt</h4>
          <p class="price-item">3300 UAH</p>
        </div>
        <div class="swiper-slide">
          <img
            alt="Men's t-shirt"
            src="./img/images/men-shirt-yasen-blue1x.jpg"
            srcset="
              ./img/images/men-shirt-yasen-blue1x.jpg 1x,
              ./img/images/men-shirt-yasen-blue2x.jpg 2x
            "
            class="img-collection"
          />
          <h4 class="card-item">Men's shirt Yasen</h4>
          <p class="price-item">1700 UAH</p>
        </div>
      </div>
    </div>
    <div class="swiper-buttons">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
