<section id="our-collection" class="our-collection">
  <div class="collection-wrap container">
    <h2 class="collection-title">Our collection</h2>
    <div class="swiper collection-swiper">
      <div class="swiper-wrapper collection-list">
        <div class="swiper-slide">
          <img
            alt="Women's blouse"
            src="../img/images/poltava-women-blouse.png"
            class="img-collection"
          />
          <h4 class="card-item">August Poltava women's blousering</h4>
          <p class="price-item">3300 UAH</p>
        </div>
        <div class="swiper-slide">
          <img
            alt="Women's blouse"
            src="../img/images/blouse-gorgany.png"
            class="img-collection"
          />
          <h4 class="card-item">Women's blouse Gorgany</h4>
          <p class="price-item">3350 UAH</p>
        </div>
        <div class="swiper-slide">
          <img
            alt="Women's blouse"
            src="../img/images/blouse-crimea.png"
            class="img-collection"
          />
          <h4 class="card-item">Women's blouse Crimea</h4>
          <p class="price-item">4000 UAH</p>
        </div>
        <div class="swiper-slide">
          <img
            alt="Men's t-shirt"
            src="../img/images/men-t-shirt-verkhovina.png"
            class="img-collection"
          />
          <h4 class="card-item">Men's shirt Verkhovina</h4>
          <p class="price-item">3100 UAH</p>
        </div>
        <div class="swiper-slide">
          <img
            alt="Men's t-shirt"
            src="../img/images/mountain-men-shirt.png"
            class="img-collection"
          />
          <h4 class="card-item">Mountain men's shirt</h4>
          <p class="price-item">3300 UAH</p>
        </div>
        <div class="swiper-slide">
          <img
            alt="Men's t-shirt"
            src="../img/images/men-shirt-yasen.png"
            class="img-collection"
          />
          <h4 class="card-item">Men's shirt Yasen</h4>
          <p class="price-item">1700 UAH</p>
        </div>
        <div class="swiper-slide">
          <img
            alt="Women's blouse"
            src="../img/images/august-poltava-blouse-2.png"
            class="img-collection"
          />
          <h4 class="card-item">August Poltava women's blousering</h4>
          <p class="price-item">3300 UAH</p>
        </div>
        <div class="swiper-slide">
          <img
            alt="Women's blouse"
            src="../img/images/women-blouse-organy-2.png"
            class="img-collection"
          />
          <h4 class="card-item">Women's blouse Gorgany</h4>
          <p class="price-item">3350 UAH</p>
        </div>
        <div class="swiper-slide">
          <img
            alt="Women's blouse"
            src="../img/images/women-blouse-crimea-2.png"
            class="img-collection"
          />
          <h4 class="card-item">Women's blouse Crimea</h4>
          <p class="price-item">4000 UAH</p>
        </div>
        <div class="swiper-slide">
          <img
            alt="Men's t-shirt"
            src="../img/images/men-shirt-verkhovina-2.png"
            class="img-collection"
          />
          <h4 class="card-item">Men's shirt Verkhovina</h4>
          <p class="price-item">3100 UAH</p>
        </div>
        <div class="swiper-slide">
          <img
            alt="Men's t-shirt"
            src="../img/images/mountain-men-shirt-2.png"
            class="img-collection"
          />
          <h4 class="card-item">Mountain men's shirt</h4>
          <p class="price-item">3300 UAH</p>
        </div>
        <div class="swiper-slide">
          <img
            alt="Men's t-shirt"
            src="../img/images/men-shirt-yasen-2.png"
            class="img-collection"
          />
          <h4 class="card-item">Men's shirt Yasen</h4>
          <p class="price-item">1700 UAH</p>
        </div>
      </div>
    </div>
    <div class="swiper-buttons">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
