<section id="testimonials" class="testimonials-section">
  <div class="testimonials-wrap container">
    <h2 class="testimonials-title">Testimonials</h2>
    <div class="swiper testimonials-swiper">
      <div class="swiper-wrapper">
        <article class="swiper-slide review-card">
          <img
            class="reviews-img"
            src="../img/images/maria-tkachuk.png"
            alt="Maria Tkachuk"
          />
          <h4 class="reviews-item">Maria Tkachuk</h4>
          <p class="reviews-text">
            I was pleasantly surprised by the variety of embroidery offered by
            Vyshyvanka Vibes. They have models for every taste - from classic to
            modern. I bought an embroidered dress to celebrate a special
            occasion and received impeccable service and refinement in every
            detail.
          </p>
        </article>
        <article class="swiper-slide review-card">
          <img
            class="reviews-img"
            src="./img/images/sergey-rybachok.png"
            alt="Sergey Rybachok"
          />
          <h4 class="reviews-item">Sergey Rybachok</h4>
          <p class="reviews-text">
            Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
            simply masterpieces! I fell in love with the quality of the
            materials and the skill of the artisans behind each product. This is
            my favorite embroidery shop where I always find something special
            and unique.
          </p>
        </article>
        <article class="swiper-slide review-card">
          <img
            class="reviews-img"
            src="./img/images/natalia-chatuk.png"
            alt="Natalia Chatuk"
          />
          <h4 class="reviews-item">Natalia Chatuk</h4>
          <p class="reviews-text">
            Vyshyvanka Vibes is a real find for everyone who appreciates
            Ukrainian culture. Their embroidery reflects the spirit and
            traditions of our people. I not only buy embroidered shirts for
            myself, but also give them to my friends abroad as a symbol of our
            beauty and national pride.
          </p>
        </article>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
