.footer {
  border-top: 1px solid rgba(252, 249, 249, 0.1);
  background-image: url(/img/background/bc-footer-mob1x.png);
  background-image: image-set(url(/img/background/bc-footer-mob1x.png) 1x, url(/img/background/bc-footer-mob2x.png) 2x);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.footer-wrap {
  padding-top: 40px;
  padding-bottom: 280px;
  
}

.footer-nav-list {
  display: flex;
  column-gap: 40px;
  row-gap: 25px;
  flex-wrap: wrap;

}

.footer-nav-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  width: calc(40% - 10px);
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: #ecd979;
}

.footer-title {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.22;
  letter-spacing: -0.03em;
  margin-top: 40px;
}

.footer-title span {
  color: #ecd979;
}

@media only screen and (min-width: 768px) {
   .footer {
    background-image: url(/img/background/bc-footer-tablet1x.png);
    background-image: image-set(url(/img/background/bc-footer-tablet1x.png) 1x, url(/img/background/bc-footer-tablet2x.png) 2x);
    background-position: right bottom;
    
  }

    .footer-wrap {
      padding-bottom: 40px;
    }

    .footer-nav-list {
      column-gap: 25px;
      width: 478px;
    }

    .footer-title {
      font-size: 54px;
      line-height: 1.18;
      max-width: 521px;
      margin-top: 80px;
    }

    .footer-nav-link {
      width: auto;
    }
}

@media only screen and (min-width: 1280px) {
   .footer {
    background-image: url(/img/background/bc-footer-desk1x.png);
    background-image: image-set(url(/img/background/bc-footer-desk1x.png) 1x, url(/img/background/bc-footer-desk2x.png) 2x);
  }

  .footer-title {
    font-size: 64px;
    line-height: 1.15;
    max-width: 754px;
    margin-top: 117px;
  }
}

