
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.nav-list {
  display: none;
}

.adress-phone {
  display: none;
}

.social-links {
  display: none;
}

.open-menu-btn {
  padding: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
  width: 36px;
  height: 24px;
}



@media only screen and (min-width: 768px) {


  .social-links {
    display: flex;
    gap: 12px;
    margin-right: 20px;
    place-items: center;
  }

  .social-item {
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    width: 44px;
    height: 44px;
    background-color: rgba(252, 249, 249, 0.1);
  }

  .social-item:hover {
    border: 1px solid #ecd979;
    background-color: transparent;
  }

  .social-icon {
    padding: 8px;
  }
  .contact-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

}

@media only screen and (min-width: 1280px) {
  .open-menu-btn{
    display: none;
  }
  .adress-phone {
    display: flex;
    margin-right: 20px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    width: 193px;
    height: 48px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.42;
    text-transform: uppercase;
    font-style: normal;
  }

  .social-links {
    margin-right: 0;
  }

  .nav-list {
    display: flex;
    gap: 25px;
    text-transform: uppercase;
    margin-left: 60px;
  }

  .nav-link {
    text-transform: uppercase;
  }

  .nav-link:hover {
    color: #ecd979;
  }

  .nav-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-wrap {
    display: flex;
  }
}