.header {
}

.container {
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.logo {}

.nav {
  display: none;
}

.nav-list {
}

.nav-link {}

.adress-phone {
  
}

.number-phone {
  display: none;
}

.social-links {
  display: none;
}

.social-item {}

.open-menu-btn {
  padding: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
  width: 36px;
  height: 24px;
}

/* .mob-menu-icon {
  fill: #ecd979;
} */

.close-menu-btn {
  display: none;
}
